.breadcrumb > li {
  display: inline;
}

.breadcrumb li.location+li.location::before {
  content: ">";
}

.breadcrumb .attribute {
  color: blue;
}

.breadcrumb li.attribute::after {
  content: "x";
  color: red;
  background-color: lightgray;
  border-radius: 2px;
  padding: 1px 6px;
  font-size: 18px;
}