a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

a:link {
}

a:visited {
}

a:hover {
  text-decoration: none;
}

a:active {
}

.nav-link {
  border: 1px solid;
  background-color: #FFFFFF;
  margin: 6px;
  border-radius: 3px;
  text-decoration: none;
}

.nav-link:hover {
  color: #5495ff;
}

.btn {
  background-color: #2176FF;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #1065EE;
  transition: background-color .1s ease-in;
}

.btn:active {
  background-color: #0043CC;
  border: 1px solid black;
  color: #DDDDDD;
  transition: color .1s ease-in, background-color .1s ease-in;
}

.btn:visited {
  color: #DDDDDD;
  transition: color .1s ease-in;
}

.activity {
  border-radius: 3px;
  text-decoration: none;
  font-weight: 400;
}

.activity:active {
  background-color: #0043CC;
  border: 1px solid black;
  color: #DDDDDD;
  transition: color .1s ease-in, background-color .1s ease-in;
}

.activity:hover {
  background-color: #1065EE;
  transition: background-color .1s ease-in;
}
